body {
    text-align: center;
    background-color: #cbcbcb;
    margin:0px;
}

header {
    font-family: 'Tw Cen MT';
    color: white;
    font-size: 40px;
}

p {
    font-family: 'Tw Cen MT';
    color: white;
    font-size: 20px;
}

.topnav {
    overflow: hidden;
    background-color: #333333;
}

    .topnav a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        font-family: 'Tw Cen MT';
    }

        .topnav a:hover {
            background-color: #808080;
            color: black;
        }

.active {
    background-color: #80f6d9;
    color: black;
}

.topnav .icon {
    display: none;
}

button {
    background-color: #9bef2e;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}

    button:hover {
        opacity: 0.6;
    }

.container {
    padding: 16px;
    font-family: 'Tw Cen MT';
    font-size: 20px;
    color: white;
    line-height: 200%;
}